@using EmployeeInfo.Service.VM
@model EmployeeVm
@{
    var hobbies = GetHobbiesSelectList();
    var projects = GetProjectsSelectList();
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Employee Data</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeName">Employee Name</label>
            <input asp-for="EmployeeName" class="form-control" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeDesignation">Employee Designation</label>
            <select asp-for="EmployeeDesignation" class="form-control">
                <option value="">-- Select Designation --</option>
                @foreach (var value in Enum.GetValues(typeof(DesignationType)))
                {
                    <option value="@value">
                        @(((DesignationType)value).GetDisplayName())
                    </option>
                }
            </select>
            <span asp-validation-for="EmployeeDesignation" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Salary">Salary</label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>

        
        <div class="form-group">
            <label>Address</label>
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="Address.Street" class="form-control" placeholder="Street" />
                </div>
                <div class="col-md-4">
                    <input asp-for="Address.District" class="form-control" placeholder="District" />
                </div>
                <div class="col-md-4">
                    <input asp-for="Address.Division" class="form-control" placeholder="Division" />
                </div>
            </div>
        </div>

        <div class="form-group my-2">
            <label asp-for="Hobbies" class="control-label">Hobbies:</label>
            <select asp-for="Hobbies" class="form-control" multiple name="Hobbies">
                @foreach (var value in hobbies)
                {
                    <option value="@value.Value">
                        @value.Text
                    </option>
                }
            </select>
            <span asp-validation-for="Hobbies" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="Projects" class="control-label">Projects:</label>
            <select asp-for="Projects" class="form-control" multiple name="Projects">
                @foreach (var value in projects)
                {
                    <option value="@value.Value">
                        @value.Text
                    </option>
                }
            </select>
            <span asp-validation-for="Projects" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back
        </a>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>

<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#selectId').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });
    });
</script>

@* @section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} *@



@{
    
    List<SelectListItem> GetHobbiesSelectList()
    {
        hobbies = new List<SelectListItem>
        {
            new SelectListItem { Value = "Reading", Text = "Reading" },
            new SelectListItem { Value = "Sports", Text = "Sports" },
            new SelectListItem { Value = "Travelling", Text = "Travelling" },
        };

        return hobbies;
    }
}

@{
    List<SelectListItem> GetProjectsSelectList()
    {
        var projects = new List<SelectListItem>
        {
            new SelectListItem { Value = "Clics", Text = "Clics" },
            new SelectListItem { Value = "Paps", Text = "Paps" },
            new SelectListItem { Value = "Othoba", Text = "Othoba" },
        };

        return projects;
    }
}