@* @model IEnumerable<Employee> *@
@model PagedViewModel<Employee>
@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
                + &nbsp; Create New Employee
            </a>
        </div>
    </div>
    <br /><br />

    <div class="row my-2">
        <div class="col-sm-2 form-group">
            <label for="pageSize">Items per Page:</label>
            <select id="pageSize" class="form-control" asp-for="PageSize" onchange="changePageSize()">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
   

    <table id="employeeTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                 Employee Name
            </th>
            <th>
                 Employee Designation
            </th>
            <th>
                 Employee Salary
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.PagedData)
        {
            <tr>
                <td width="30%">
                    @obj.EmployeeName
                </td>
                <td width="30%">
                    @obj.EmployeeDesignation.GetDisplayName()
                </td>
                <td width="20%">
                    @obj.Salary
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-1">Edit</a>
                            <form asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?')" />
                            </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div class="d-flex justify-content-between">
    <div>
        <p>
            Showing items @(Model.PagedData.Any() ? ((Model.CurrentPage - 1) * Model.PageSize) + 1 : 0)
            to @(Model.CurrentPage * Model.PageSize > Model.TotalCount ? Model.TotalCount : Model.CurrentPage * Model.PageSize)
            of @Model.TotalCount.
        </p>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item ">
                        <span class="page-link @(i == Model.CurrentPage ? "bg-secondary" : "")">@Html.ActionLink(i.ToString(), "Index", new { page = i, pageSize = Model.PageSize })</span>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

<script>
    function changePageSize() {
        var selectedValue = document.getElementById('pageSize').value;

        console.log("Selected Value: " + selectedValue);

        
    }
</script>


